/* logo */
.aside .logo a::before{
    border-top: 4px solid #2196f3;
    border-left: 4px solid #2196f3;
}
.aside .logo a::after{
    border-right: 4px solid #2196f3;
    border-bottom: 4px solid #2196f3;
}
.portfolio-filter .active,
.cv-section-1 span,
.cv-section-2 span,
.cv-section-3 span,
.about-text h3,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #2196f3;
}

.experience-item .item-part .circle-box,
.button button,
.cntct-1 a,
.social i,
button#sendMsg,
.educatin-item .item-part .circle-box,
.service-item a,
.cv-section .progress .progress-in,
.section-title::after,
.section-title::before,
.aside .nav-toggole span,
.aside .nav-toggole span::before,
.aside .nav-toggole span::after,
.home .intro .social-link a{
    background-color: #2196f3;
}


.portfolio-filter button.active {
    border-color: #2196f3;
}



section.service-section,
section.portfolio-section {
    overflow: hidden;
}

section.service-section, section.portfolio-section,footer.portfolio-section {
    overflow: hidden;
    background: #f2f2f2;
}